body {
    color: orange;
    background-image: url("images/bgn_image.png");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-style: italic;
    font-size: 40px;
}

p {
    font-size: 30px;
}

.bg-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);

    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}