body {
    color: #CC5500;
    font-size: 30px;
}

.fancybutton {
    border: 2px solid #CC5500;
    background-color: transparent;
    padding: 10px 12px;
    text-align: center;
    border-radius: 55px;
    transition-duration: 0.4s;
    color: white;
    outline: none;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.fancybutton:hover {
    border: 2px solid #CC5500;
    background-color: #CC5500;
}

body, html {
    height: 100%;
}
  
* {
    box-sizing: border-box;
}
  
.bg-image {
    background-image: url("images/bgn_image.png");
  
    filter: blur(30px);
    -webkit-filter: blur(30px);
  
    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    font-weight: bold;
    border: 3px solid orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}